.card {
    flex-direction: column;
    border-radius: 16px;
    padding: 6px 8px;
    background-color: #FFFFFF;
    min-height: 220px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-header {
    margin-bottom: 6px;
    font-weight: bold;
}
